body {
  color-scheme: light dark;
  color: var(--color-main);
  background-color: var(--color-bg);

  margin: 0;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  padding: 0 40px;
  width: 100%;
}

nav {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.logo__title {
  font-size: 35px;
  font-weight: 700;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

h2 span {
  color: #262a30;
  background-color: #fff;
  padding-left: 6px;
  padding-right: 7px;
  border-radius: 4px;
  margin: 0 5px;
}

.callout-card {
  border-radius: 10px;
  background: hsla(0, 0%, 86%, 0.04);
  color: var(--color-main);
  display: flex;
  gap: 10px;
  margin-bottom: 48px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

html[data-theme="dark"] {
  --color-bg: #1d1d1f;
  --color-main: #ededed;
}
